{% extends '@lucky/Default/base.html.twig' %}
{% block main %}

    <h1 class="titre_form">Ajouter une photo</h1>
    <div class="row justify-content-center">

        <div class="form_add_container col-4">

            {{ form_start(formView) }}
            <div class="row form-group">

                <div class="labels col-form-label col-12">
                    {{ form_label(formView.alt) }}
                </div>
                <div class="fields form_wid col-12">
                    {{ form_widget(formView.alt, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="row form-group">

                <div class="labels col-form-label col-12">
                    {{ form_label(formView.updatedAt) }}
                </div>
                <div class="fields form_wid col-12">
                    {{ form_widget(formView.updatedAt, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>


            <div class="row form-group">

                <div class="labels col-form-label col-12">
                    {{ form_label(formView.imageFile) }}
                </div>
                <div class="fields form_wid col-12">
                    {{ form_widget(formView.imageFile, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="row form-group">

                <div class="labels col-form-label col-12">
                    {{ form_label(formView.imageThumbFile) }}
                </div>
                <div class="fields form_wid col-12">
                    {{ form_widget(formView.imageThumbFile, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
            <div class="row boutons form-group d-flex justify-content-around">
                <div class="btn btn-primary returnbutton">
                    <a href="{{ path('lucky_admin') }}">Retour</a>
                </div>
                <div>
                    {{ form_widget(formView.Sauvegarder) }}
                </div>
            </div>

            {{ form_end(formView) }}
        </div>
    </div>



{% endblock %}